
:root {
  --primary: #a10303;
  --secondary: #12659c;
  --tertiary: #001644;
  --light: #fafafa;
  --dark: #292929;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --spacing-ten: calc(5rem);
}

.app{
  background-color: var(--dark);
} 


body {
  margin: 0;
  background-color: #292929;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar a {
  color: var(--light);
}

.title {
  color: var(--light);
}

.news{
  background-color: var(--dark);
}

#news-title{
  font-size: 4.0rem;
  color: var(--light)
}


#news-text{
  color: var(--light);
  font-size: 2rem;
}



#footer {
  background-color: var(--dark);
  color: var(--light);
}


@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


    /* Custom Classes */

        /* ABOUT ME PAGE */

        /* .about{
          background-image: url(./assets/heroImage.jpg);
          background-size: cover;
        } */


        /* END ABOUT ME PAGE */



        /* PROJECTS PAGE */




        /* END PROJECTS PAGE */
        
        
        
        
        /* CONTACT PAGE */

        
        /* .contact-form {
          text-align: center;
          margin: auto;
          padding: 3rem;
        } */
        

        /* .submit-contact{
          padding-top: .3rem;
        } */
        
        
        /*  END CONTACT PAGE */





    /* Custom IDS */



        /* ABOUT ME PAGE */

        .rules{
          background-color: var(--dark);
          color: var(--light);
        }
        
        #rules-title{
          font-size: 4.0rem;
          color: var(--light)
        }
        
        
        #rules-text{
          color: var(--light);
          font-size: 2rem;
        }

        
        
        /* END ABOUT ME PAGE */



        /* PROJECTS PAGE */




        /* END PROJECTS PAGE */
        
        
        
        
        /* CONTACT PAGE */





        


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  /* .column {
    width: 50%;
  } */
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {



  /* ABOUT ME PAGE */
        
  #about-title{
    font-size: 2.1rem;
  }
  
  
  #about-text{
    display: flex;
    font-size: 1.1rem;
  }

  
  
  /* END ABOUT ME PAGE */
  
  
  
  /* CONTACT ME PAGE */


  /* .contact-form {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 8px 16px;
    padding: 2rem;
    /* box-sizing: content-box; 
  } */
/* 
  text-area{
    padding: 1rem;
    display: flex;
    box-sizing: content-box;
    height: fit-content;
    width: 100px;
    resize: horizontal 200px;
  } */
  
  
  
  /* END COTACT ME PAGE */





  /* .column {
    width: 100%;
  } */
}